services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: discord-image-extractor-bot
    restart: unless-stopped
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - NODE_ENV=production
